@model IEnumerable<APP_PRUEBA_1.Models.Usuario>

<h1 class="text-center mb-3">Usuarios</h1>

<div class="d-flex justify-content-end align-items-center mb-3"> <!-- Sin data table sería between -->
    <!-- Inutilizado por Data Tables 
            <form method="get" asp-action="GetUsuariosFiltrados" class="d-flex">
        <input type="text"
               name="busqueda"
               class="form-control me-2"
               placeholder="Buscar por nombre de usuario o apellido" />

        <button type="submit" class="btn btn-primary">
            Buscar
        </button>
    </form>
    -->
    <a asp-action="Create" class="btn btn-primary">
        Nuevo Usuario
    </a>
</div>

<table id="tablaUsuarios" class="table table-bordered table-striped table-hover">
    <thead class="table-dark text-light">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.IdUsuario</td>
                <td>@usuario.Nombre</td>
                <td>@usuario.Apellido</td>
                <td>@usuario.Rol</td>

                <td>
                    <a asp-action="Edit"
                       asp-route-id="@usuario.IdUsuario"
                       class="btn btn-warning btn-sm">
                        Editar
                    </a>

                    <form asp-action="Delete"
                          method="post"
                          style="display:inline;">
                        <input type="hidden"
                               name="id"
                               value="@usuario.IdUsuario" />

                        <button type="submit"
                                class="btn btn-danger btn-sm"
                                onclick="return confirm('¿Eliminar usuario?');">
                            Eliminar
                        </button>
                    </form>

                    <a asp-action="Detalles"
                       asp-route-id="@usuario.IdUsuario"
                       class="btn btn-primary btn-sm">
                        Detalles
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script>
        new DataTable('#tablaUsuarios', {
            language: {
                url: '//cdn.datatables.net/plug-ins/2.3.3/i18n/es-ES.json'
            }
        });
    </script>
}